/vendor
/node_modules
/public/storage
/public/assets/translations.json
Homestead.yaml
Homestead.json
.env
.idea
.vagrant
package-lock.json
Vagrantfile
PG.sublime-workspace/
/bower_components
/.sass-cache
cache.properties
curl.trace
/build
public/token
_ide_helper.php
.phpstorm.meta.php
/nbproject/private/
/nbproject/
.DS_Store
tests/_output/*
tests/_data/controller/pages/*
tests/_support/_generated/*
/mysql
npm-debug.log
public/mix-manifest.json
resources/assets/js/test/unit/coverage
/scripts
/keys
resources/assets/translations/locales.json
resources/assets/routes/routes.json
resources/assets/settings/settings.json
*tests/__snapshots__/*