* {
  font-family: 'Didact Gothic', sans-serif !important;
}

.greyblue-text {
  color: rgba(208, 208, 225, 0.8) !important;
}

.card-shadow {
  -webkit-box-shadow: 0 0px 70px 0 rgba(0, 0, 0, 0.8), 0 30px 30px 0 rgba(0, 0, 0, 0.4) !important;
          box-shadow: 0 0px 70px 0 rgba(0, 0, 0, 0.8), 0 30px 30px 0 rgba(0, 0, 0, 0.4) !important;
}

.card-background {
  background-color: rgba(13, 0, 26, 0.95) !important;
}

.auth-input-width {
  width: 300px !important;
}

.tm-sidebar-left {
  background-color: rgba(13, 0, 26, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 190px !important;
  padding: 100px 25px 60px 25px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

.nav-item {
  font-size: 14pt !important;
  color: #c7c7c7 !important;
}

.nav-item:hover {
  color: #9c9c9c !important;
}

.main-block {
  position: absolute;
  height: 100%;
  right: 0;
  left: 185px !important;
  bottom: 0;
  top: 0;
  padding: 30px 30px 30px 30px;
}

.warning-badge {
  margin-bottom: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  background-color: #990000 !important;
}

.create-user-buttons {
  right: 30px;
  position: absolute;
}

.icon-nav-size {
  font-size: 20px !important;
}

