
$violet: rgb(64, 0, 128);
$greyblue: rgba(208, 208, 225, 0.8);
$dark-violet: rgba(13, 0, 26, 0.95);
$light-green: rgba(242, 255, 230, 0.74);
$red: rgb(153, 0, 0);

*{
  font-family: 'Didact Gothic', sans-serif !important;
}

.greyblue-text {
  color: $greyblue !important;
}

.card-shadow {
  box-shadow: 0 0px 70px 0 rgba(0, 0, 0, 0.8), 0 30px 30px 0 rgba(0, 0, 0, 0.4) !important;
}

.card-background {
  background-color: $dark-violet !important;
}

.auth-input-width {
  width: 300px !important;
}

.tm-sidebar-left {
  background-color: $dark-violet;
  position:fixed;
  top:0;
  bottom:0;
  box-sizing:border-box;
  width:190px !important;
  padding:100px 25px 60px 25px;
  border-right:1px #e5e5e5 solid;
  overflow:auto
}

.nav-item {
  font-size: 14pt !important;
  color: #c7c7c7 !important;
}
.nav-item:hover {
  color: #9c9c9c !important;
}

.main-block {
  position: absolute;
  //background-color: $light-green;
  height: 100%;
  right: 0;
  left: 185px !important;
  bottom:0;
  top:0;
  padding: 30px 30px 30px 30px;
}

.warning-badge {
  margin-bottom: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  background-color: $red !important;
}

.create-user-buttons {
  right: 30px;
  position: absolute;
}

.icon-nav-size {
  font-size: 20px !important;
}